version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: mongo_db
    restart: unless-stopped

    ports:
      - "27017:27017"

    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: app_db

    volumes:
      - ./mongo/data:/data/db

    networks:
      - app-network

networks:
  app-network:
    driver: bridge
